.full-container {
  background-color: #AFD4C0;
}

.header-container {
  background-color: #519872;
  height: 8vh;
}

.body-container {
  background-color: #AFD4C0;
  display: flex;
  justify-content: center;
}

.view-container {
  width: 50%;
  height: 100vh;
  background-color: #E5F4EC;
}

.view-headers {
  display: flex;
  justify-content: space-between;
}
